* {
    margin: 0;
    padding: 0;
    outline: none;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.emoji-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80vw;
}

.emoji-area {
    margin: 10px;
    height: 120px;
    width: 120px;
    font-size: 90px;
    background: inherit;
    border: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* color:black; */
}

.emoji-area:focus {
    background-color: rgb(50, 50, 238);
}

.emoji-area div {
    font-size: small;
    color: #d9f9ff;
    /* margin-top: 50px; */
}

.message {
    width: 50vw;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
    font-size: 55px;
    color: rgb(107, 99, 99);
    line-height: 70px;
}

@media (max-width: 1400) {
    .message {
        width: 50vw;
        font-weight: 500;
        text-align: center;
        margin-top: 50px;
        font-size: 50px;
        color: rgb(107, 99, 99);
        line-height: 60px;
    }
}

@media (max-width: 600px) {
    .message {
        width: 80vw;
        font-size: 30px;
        line-height: 40px;
    }

    .emoji-area {
        margin: 10px;
        height: 100px;
        width: 80px;
        text-align: center;
        font-size: 60px;
        padding: 0;
    }
}