*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.search{
    margin-top: 20px;
    width: 80vw;
    height: 100px;
    color: #00d9ff;
    font-size: 50px;
    padding: 10px;
    border: 2px solid #00d9ff;
    border-radius: 10px;
    font-family: Bookman, URW Bookman L, serif;
    
}

input:focus{
    border: 2px solid rgb(202, 171, 231);
    
}

.search::placeholder{
    font-size: 50px;
    padding: 10px;
    color: #aee0e9;
    font-family: Bookman, URW Bookman L, serif;

}

.search-button{
    min-width: 10vw;
    height: 100px;
    margin-top: 20px;

}

@media (max-width: 600px){
    .search{
        margin-top: 20px;
        width: 80vw;
        height: 80px;
        color: #00d9ff;
        font-size: 40px;
        padding: 5px;
    }

    .search::placeholder{
        font-size: 40px;
        padding: 5px;
        color: #aee0e9;
    }
}